{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
<h1>Registration Page</h1>
<h2>Already have an account? Login <a href="{{url_for('login')}}"">here</a></h2>
     
<div class="form">
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div>{{ form.user_name.label }} {{ form.user_name() }}</div>
        <div>{{ form.password.label }} {{ form.password() }}</div>
        <div><button type="submit">Register</button></div>
    </form>    
</div>
{% endblock %}