{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ username }}'s Library</h1>
    <h3>Currently logged in as {{ username }}. Don't like that? Log out <a href="{{url_for('logout')}}">here!</a> </h3>

    <div class="book-table">
        <table>
            {% set count = 0 %}
            <tr>

            <tr>
            <tr>
                    {% for book, number in packed: %}

                        {%if (book.id-1) % 3 == 0 %}
                            </tr> <tr>
                        {%endif%}

                        <td> Book Title: {{ book.title }} <br> 
                             Date Started: {{ book.date_created.date() }} <br>
                             Author: {{ book.author }} <br>
                             Genre: {{ book.genre }} <br>
                             Rating: {{ book.rating }} <br>

                            <form action="/delete/{{book.id}}" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">
                                    Delete Book
                                </button>
                            </form>

                            <form action="/add-notes/{{book.id}}">
                                <button type="submit">
                                    Update Book
                                </button>
                            </form>

                        </td>
                    {% endfor %}
            </tr>
        </table>
    </div>
    
    <div class="form">
        <form method="POST">

            <input type="text"  placeholder="book title"  name="book" required> <br>
            <input type="text" placeholder="author name" name="author" required> <br>
            <input type="text"  placeholder="genre"  name="genre" required> <br>

            <select name="rating">
                <option value="1">1 star</option>
                <option value="2">2 star</option>
                <option value="3">3 star</option>
                <option value="4">4 star</option>
                <option value="5">5 star</option>
            </select>

            <button type="submit"> submit book </button>
        </form>
    </div>

</div>
{% endblock %}